.button {
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.button:hover {
	background-color: #FFFFFF;
	color: black;
	border: 2px solid #555555;
}

.back {
	background-color: #555555;
	border: 2px solid #555555;
	transition-duration: 0.4s;
}